@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;500&display=swap');

@font-face {
    font-family: "Circular-Medium";
    src: url("../fonts/CircularStd-Medium.otf");
}

@font-face {
    font-family: "Circular-Book";
    src: url("../fonts/CircularStd-Book.otf");
  }
  #my-h1 {
	color: blue;
	font-size: 40px;
	border 
  }

  element {
    border: 1px solid #200;
}

.background {
		background-color: #f5f5f5
	}

	body {color: rgb(74,196,169,255)
	}

	.colorpalabrasboton {
		color: #180000;
		font-weight: bold;
		text-decoration: none;
	}
	
	.colorpalabrasboton:hover {
		color: #ffffff; /* Cambia el color del texto a blanco cuando se pasa el mouse por encima */
	}
	
	.my-button {
		background-color: #fafafa;
		color: #180000;
		border: 2px solid #4ac4a9;
		padding: 10px 20px;
	}
	  
	  .my-button:hover {
		animation: borderAnimation 4s infinite;
		background-color:  #4ac4a9;
	  }

	  .my-button1 {
		background-color: #fafafa;
		color: #180000;
		border: 1px solid #4ac4a9;
		padding: 10px 20px;
	}
	  
	  .my-button1:hover {
		background-color:  #4ac4a9;
	  }

	  .campos {
		background-color:  #ffffff;
		border: 1px solid #4ac4a9;
		padding: 10px 20px;
	  }

	  .tabla {
		background-color:  #ffffff;
		color: rgb(61, 58, 58);
		text-shadow: -0.01px -0.01px 0 #000, 1px-0.01px 0 #000, -0.01px 1px 0 #000, 1px 1px 0 #000;
		border: 2px solid #4ac4a9;
		padding: 10px 20px;
	  }

	  @keyframes borderAnimationLetras {
		0% {
			color: #4ac4a9;
		  }
		  50% {
			color: rgb(15, 15, 15);
		  }
		  100% {
			color: #4ac4a9;
		  }
		}
		
		.moving-border {
		  position: relative;
		  min-width: 100px;
		}
		
		.moving-border::after {
		  content: attr(data-title);
		  position: absolute;
		  top: 0;
		  left: 0;
		  border-bottom: 2px solid;
		  animation: borderAnimationLetras 2s infinite;
		}

		.ion-icon-accion {
			color: rgb(96, 93, 93);
		  }

		.cuadro {
			width: 200px;
            border: 1px solid #4ac4a9;
            padding: 1px;
			margin-bottom: 20px;
            top: 1;
            left: 1;
			border: 2px solid;
		  }

		  .usuariopalabra {
			color: #676262;
			font-weight: bold;
			text-decoration: none;
		}

		.modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #f5f5f5;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            text-align: center;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
